<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>食安溯源中药材溯源平台</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/swiper.min.css">  
    <link rel="stylesheet" href="css/search.css">
    
    <script src="javascript/swiper.min.js"> </script>
    <script src="javascript/jquery-3.5.1.js"></script>
</head>
<body>
    <div class="search-in-box" id="app-box">
        <div class="top-box">
            <p class="text">溯源码：</p>
            <p class="code"></p>
        </div>
        <p class="notice">{{noticeText}}</p>
        <p class="title">原生态，嚼着吃！</p>
        <div class="info-scroll info-swiper-container">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <a href="javascript:;"><img src="images/info_1.jpg" alt=""></a>
                </li>
                <li class="swiper-slide">
                    <a href="javascript:;"><img src="images/info_2.jpg" alt=""></a>
                </li>
                <li class="swiper-slide">
                    <a href="javascript:;"><img src="images/info_3.jpg" alt=""></a>
                </li>
                <li class="swiper-slide">
                    <a href="javascript:;"><img src="images/info_4.jpg" alt=""></a>
                </li>
            </ul>
        </div>
        <p class="suammary">可以点击视频或图片查看详情，了解更多的产品信息和食用方法。</p>
        <div class="have-box">
            <div class="nav-box">
                <ul class="flex-box">
                    <li class="flex1 current">溯源信息</li>
                    <li class="flex1">产品信息</li>
                    <li class="flex1">食用方法</li>
                </ul>
            </div>
            <div class="sy-box nav-list">
                <p class="title">我的奇妙旅程</p>
                <div class="step-box">
                    <div class="point-box">
                        <p class="point"></p>
                    </div>
                    <div class="point-box" v-for="(value,key,index) in DataInfo">
                        <template v-if="key == 'firstNodeList'">
                            <p class="point"></p>
                            <div class="left-info">
                                <div class="people">
                                    <p><img class="people-img" :src="url+headInfo.userImg" alt=""></p>
                                    <span class="people-name">{{headInfo.name}}</span>
                                </div>
                                <div class="list-img">
                                    <div class="list-swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="list swiper-slide zoom-img" v-on:click="ShowBig">
                                                <video data-info="video" src="images/vedio.mp4"></video>
                                                <img src="images/u100.png" alt="" class="tmp-img">
                                            </div>
                                            <!-- <div class="list swiper-slide zoom-img"><img src="images/step_2.jpg" alt=""></div>
                                            <div class="list swiper-slide zoom-img"><img src="images/step_3.jpg" alt=""></div>
                                            <div class="list swiper-slide zoom-img"><img src="images/step_4.jpg" alt=""></div>
                                            <div class="list swiper-slide zoom-img"><img src="images/step_5.jpg" alt=""></div>
                                            <div class="list swiper-slide zoom-img"><img src="images/step_1.jpg" alt=""></div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <template v-for="(item,index) in value" >
                                    <span class="bold" v-if="item.nodeName">环节：{{item.nodeName}}</span>
                                    <span v-else-if="item.nodeType != 4 && !item.nodeName">{{item.columnChineseName}}：{{item.value}}</span>
                                </template>            
                            </div>
                        </template>
                        <template v-else>
                            <p class="point"></p>
                            <div v-bind:class="[index % 2 == 0?'right':'left']">
                                <template v-for="(item,index) in value" >
                                    <span class="bold" v-if="item.nodeName">环节：{{item.nodeName}}</span>
                                    <div v-else-if="item.columnName == 'product_img' ">
                                        <div class="product-swiper-container" ref="product-swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="list swiper-slide zoom-img" v-for="(ele,ind) in item.imgArr" :key="ind">
                                                    <img :src="url+ele"  alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span v-else-if="item.nodeType != 4 && item.nodeType != 3 && item.nodeType != 2  && !item.nodeName">{{item.columnChineseName}}：{{item.value}}</span>
                                </template>   
                            </div>
                        </template>
                    </div>
                    
                    <div class="point-box end-point">
                        <p class="point"></p>
                        <div class="end-text">被您幸运的选中啦</div>
                    </div>
                </div>
            </div>
            <div class="cp-info nav-list">
                <p>
                    <strong>产品名称：</strong>冬虫夏草
                </p>
                <p>
                    <strong>产品描述：</strong>本品由虫体与从虫头部长出的真菌子座相连而成。虫体形如蚕，长3—5cm，

                    直径0.3~0.8 cm。表面深黄色至黄棕色，有环纹20~30个，近头部的环纹较细；头部红棕色；足8对，中部4对较明显；质脆，易折断，断面略平坦，淡黄白色。
                </p>
            </div>
            <div class="eat-info nav-list">
                <p><strong>新鲜虫草食用方法</strong></p>
                <p>嚼食：取出新鲜冬虫夏草，放置半小时解冻，直接放入口中，慢嚼细咽，具有绵软的蘑菇口感，并有一股浓香味。</p>
                <p>使用量：养生保健，每日1—2根</p>
                <p>储存方法：零下15℃冷冻、密封储存，不建议储存时间太长（6个月内最佳）</p>
            </div>
            <div class="shalter-box" v-if="shalterBool" v-on:click="CloseShow">
                <div class="content">
                    <video :src="url+vedioUrl" controls="controls" autoplay="true"></video>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="javascript/rem.js"></script>
    <script src="javascript/search.js"></script>
    <script src="javascript/info.js"></script>
</body>
</html>